.header {
    background: #333;
    background-image: url(../../public/foot.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    padding: 1rem;
    margin-bottom: 60px;
}

.logo {
    margin-right: 2rem;
}

.logo img {
    width: 4.8125rem;
    height: 4.25rem;
}
.nav-item a{
    color: #fff;
    font-weight: 500;
}
.navigation li {
    padding: 5px 10px;
}

.contact {
    margin-left: 2rem;
}

.active {
    color: #61DAFB !important;
}